#line{
    margin-top: 3%;
}

#inputurlbox{
    margin-top: 3%;
    border-radius: 10px;
    padding: 4%;
    background-color: rgb(206, 206, 206);
}

.container{
    margin-top: 1%;
}

#button{
    margin-top: 4%;
    padding: 3%;
    background-color: rgb(55, 111, 163);
}

